@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: #636060;
  font-size: 20px;
}

.wrapper__header {
  margin: auto;
  width: 1440px;
  background-color: #edf2ec;
}

.header {
  margin: auto;
  width: 1220px;
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Inika", serif;
  font-size: 16px;
  color: black;
  padding-left: 10px;
  align-items: center;
}

.logo__img {
  height: 20px;
  width: 20px;
}

.header__nav {
  width: 450px;
  font-family: "Inika", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header__nav li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.main__grow {
  margin: 0 auto;
  width: 1440px;
  background-color: #edf2ec;
  height: 530px;
  display: flex;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.main__grow_plants {
  color: #499a18;
}

.main__grow_img {
  width: 400px;
  height: 400px;
}

.main__grow_text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.main__grow button {
  color: #000;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
  width: 158px;
  height: 44px;
  border: 2px solid #e06733;
  background-color: #edf2ec;
}

.wrapper__main {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 100px;
}

.main__grow_text {
  padding-left: 220px;
}

.main__professional {
  margin: 0 auto;
  width: 1440px;
  height: 670px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.wrapper__main_professional {
  width: 1220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.wrapper__main_professional h2 {
  color: #499a18;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

h2 span {
  color: #e06733;
}

.wrapper__main_professional p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  width: 610px;
}

.wrapper__main_professional img {
  width: 460px;
  height: 480px;
  padding-bottom: 100px;
}

.main__service {
  margin: 0 auto;
  width: 1440px;
  height: 1330px;
  background-color: #edf2ec;
  display: flex;
}

.wrapper__main_service {
  width: 1220px;
  margin: 0 auto;
}

.wrapper__main_service h2 {
  color: #499a18;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding-right: 140px;
}

.wrapper__main_service button {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  margin: 0;
  margin-left: 30px;
  background-color: #edf2ec;
}

.servese__flex_container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.servese__flex_container_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.servese__card {
  height: 450px;
  width: 330px;
  border-radius: 20px;
  border: 1px solid #e3e1d5;
  margin-bottom: 30px;
}

.servese__card h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  text-align: center;
}

.servese__card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
}

.main__prices {
  width: 1440px;
  height: 560px;
  background-color: #fff;
  margin: 0 auto;
}

.wrapper__prices {
  width: 1220px;
  margin: 0 auto;
}

.wrapper__prices h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000;
}

.prices__cards {
  height: 280px;
  width: 330px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.prices__cards button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.prices__cards_arrow {
  background-color: #D9D9D9;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;

}

.prices__cards_arrow img {

  margin: auto;
  position: relative;
  width: 10px;
  height: 5px;
}

.prices__button_cointainer {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}